.header {
  text-align: center;
  font-family: sans-serif;
}

img {
  vertical-align: middle;;
}

.title {
  vertical-align: middle;
  text-align: center;
  font-family: monospace;
  font-size: xx-large;
}

.description {
  text-align: center;
  width: 600px;
  font-family: sans-serif;
}

.center {
  text-align: center;
  margin: auto;
}

.row {
  padding-top: 10px;
  width: 840px;
  height: 600px;
  margin: 0 auto;
  clear: both;
}

.column {
  width: 65%;
  float: left;
  display: block;
}

.column-sponsor {
  width: 35%;
  float: left;
  display: block;
}