.header {
  text-align: center;
  font-family: sans-serif;
}

.header > a {
  text-decoration: none;
}

img {
  vertical-align: middle;;
}

.title {
  vertical-align: middle;
  text-align: center;
  font-family: monospace;
  font-size: xx-large;
}

.description {
  text-align: center;
  width: 600px;
  font-family: sans-serif;
}

.center {
  text-align: center;
  margin: auto;
}

.row {
  padding-top: 10px;
  width: 840px;
  height: 700px;
  margin: 0 auto;
  clear: both;
}

.column {
  width: 65%;
  float: left;
  display: block;
}

.column-right {
  width: 35%;
  float: left;
  display: block;
}

.sponsor-box {
  width: 200px;
  height: 80px;
  position: relative;
}

.sponsor-box img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}