<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Vilnius JUG (Java User Group) - Vilnius Java & JVM enthusiasts">
  <title>Vilnius JUG</title>
  <link rel="stylesheet" href="css/jug.css">
  <link rel="icon" type="image/x-icon" href="jug.png"/>
</head>
<body>
<div class="wrapper">
  <div class="title">
    <img src="jug_vilnius-02-120.jpg" alt="">
  </div>
</div>
<br/>

<br/>

<div class="center">
  <div class="description center">
    Vilnius JUG is a community of passionate Java developers who love to
    share their experiences and discoveries with other professionals.
  </div>
  <br>
</div>
<div class="row" ng-app='vilniusJugApp' ng-controller="EventsController">
  <div class="column">
    <h3 class="center">Vilnius JUG Events</h3>
    <br/>
    <table class="center">
      <tr>
        <td></td>
        <td>Date</td>
        <td>Venue</td>
        <td>Registration link</td>
      </tr>
      <tr ng-repeat="event in upcoming">
        <td>
          <img src="icons/event_types/java.png" ng-if="event.type == 'Vilnius JUG'">
          <img src="icons/event_types/scala.png" ng-if="event.type == 'Vilnius Scala'">
          <img src="icons/event_types/clojure.png" ng-if="event.type == 'Vilnius Clojure'">
        </td>
        <td>{{event.date}} {{event.time}}</td>
        <td><a href="{{event.venue.map_url}}">{{event.venue.title}}</a></td>
        <td><a href="{{event.registration.url}}">{{event.registration.title}}</a></td>
      </tr>

      <tr ng-repeat="event in past">
        <td>
          <img src="icons/event_types/java.png" ng-if="event.type == 'Vilnius JUG'">
          <img src="icons/event_types/scala.png" ng-if="event.type == 'Vilnius Scala'">
          <img src="icons/event_types/clojure.png" ng-if="event.type == 'Vilnius Clojure'">
        </td>
        <td>{{event.date}} {{event.time}}</td>
        <td><a href="{{event.venue.map_url}}">{{event.venue.title}}</a></td>
        <td><a href="{{event.registration.url}}">{{event.registration.title}}</a></td>
      </tr>
    </table>
  </div>

  <div class="column-right">

    <div class="logo-box">
      <a href="https://www.getcujo.com">
        <img
          src="cujo.png"
          alt="CUJO AI Logo">
      </a>
    </div>

    <div class="logo-box">
      <a href="https://platform-lunar.com/">
        <img
          src="pl.png"
          alt="Platform Lunar Logo">
      </a>
    </div>

    <div class="logo-box">
      <a href="https://spectrocoin.com/">
        <img
          src="sc.png"
          alt="Spectro Coin Logo">
      </a>
    </div>
    <div class="logo-box">
      <a href="https://www.hotelston.com/">
        <img
          src="logo-hston-lt-alpha.png"
          alt="Hotelston Logo">
      </a>
    </div>
    <div class="logo-box">
      <a href="http://www.wix.com">
        <img
          src="http://static.parastorage.com/services/html-landing/html/hp-new-design/hp-resources/images-v-01/wixlogo.jpg"
          alt="Wix Logo">
      </a>
    </div>
    <div>
      <h4>Other dev communities</h4>
      <ul>
        <li><a href="http://www.vilniusjs.lt">User groups calendar</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="center">
  <br>
  <a
    href="mailto:&#108;&#101;&#097;&#100;&#101;&#114;&#115;&#064;&#118;&#105;&#108;&#110;&#105;&#117;&#115;&#045;&#106;&#117;&#103;&#046;&#108;&#116;">
    &#108;&#101;&#097;&#100;&#101;&#114;&#115;&#064;&#118;&#105;&#108;&#110;&#105;&#117;&#115;&#045;&#106;&#117;&#103;&#046;&#108;&#116;</a>
  <br>
  +&#051;&#055;&#048;&#032;&#054;&#049;&#053;&#032;&#054;&#048;&#052;&#053;&#049;,&#032;+&#051;&#055;&#048;&#032;&#054;&#056;&#049;&#032;&#052;&#049;&#050;&#056;&#048;
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="data/events.js"></script>
<script src="js/app.js"></script>
</body>
</html>

