.header {
  text-align: center;
  font-family: sans-serif;
}

img {
  vertical-align: middle;;
}

.title {
  vertical-align: middle;
  text-align: center;
  font-family: monospace;
  font-size: xx-large;
}

.description {
  text-align: center;
  width: 600px;
  font-family: sans-serif;
}

.center {
  text-align: center;
  margin: auto;
}

